
body{
    font-family:'Segoe UI', 'Roboto','Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    margin: 0;
}


#main{
    margin: 15px 0 15px 0;
    background-color: rgb(238,238,238);
}
#title{
    text-align: center;
    padding-top: 30px;
    
}
#title h1{
    font-size: 42px;
    font-weight: 900;
}
#title p{
    font-size: 17px;
}
   
#img-div{
    background-color: white;
    margin: 0 auto;
    text-align: center;
    margin: 0 15px 0 15px;
}

#image{
    max-width: 100%;
}

#img-caption{
    padding: 20px 0 20px 0;
    font-size: 15px;
}

#tribute-info {
    padding-top: 20px;
    max-width: 570px;
    margin: 0 auto;
    font-size: 17px;
}


#tribute-info li+li{
    padding-top: 30px;
}

#tribute-info h2{
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}

#tribute-info cite:last-child{
    margin-left: 40px;
}

.footer{
    margin-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}

.footer p{
    font-size: 22px;
    font-weight: bold;
}

blockquote{
    margin: 0 0 0 40px;
}